*,*::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Livvic', sans-serif;
  overflow-x: hidden;
  background-color: rgb(43, 23, 23);
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

.container{
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 20px;
}

.title{
  margin: 40px 0;
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  color: darkgrey;
}

.list{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item{
  width: 100%;
  max-width: 400px;
  margin-bottom: 55px;
  background-color: #333;
  border-radius: 15px;
}

.box{
  padding: 20px;
}

.img{
  width: 100%;
  height: 600px;
}

.subject{
  margin: 0;
  margin-bottom: 20px;
  font-size: 34px;
  color: cornsilk;
}

.id{
  display: block;
  margin-bottom: 18px;
  font-size: 24px;
  color: rgb(230, 230, 230);
}

.gener{
  margin: 0;
  margin-bottom: 18px;
  font-size: 18px;
  color: rgb(230, 220, 230);
}

.over{
  margin: 0;
  margin-bottom: 18px;
  font-size: 16px;
  color: rgb(230, 230, 230);
}

.data{
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: rgb(230, 230, 230);
}